 *{
    box-sizing: border-box;
 }
.heading{
    text-align: center;
    border: 2px dotted green;
    border-radius: 12px;
    margin: 0px 32%;
    background-color: #ffff00;
    padding: 5px;
}
.Parent{
    Width: 300px;
    Padding: 20px;
    height:50px;
    Border: 2px solid black;
    border-radius: 40%;
    Margin: 15px;
    background-color: #ffff00;
}
.main-content {
    position: relative;
    margin-top: 80px; 
    padding: 20px;
}
.important-box {
    position: absolute;
    top: -10px;
    right: 25px;
    background-color: orange;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 4px;
}
.sticky-heading {
    position: sticky;
    top: 80px; /* sticks below navbar */
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #000;
    width: 150px;
}
#AM{
    text-align: center;
    color: red;
    font-size: large;
    margin: -37px;
}
#navbar {
    position: fixed;
    top: 0;
    width: 150px;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}
.nevi{
    position: fixed;
    top: 0;
    right: 15px;
    width: 150px;
    background-color: white;
    padding: 10px;
}
/* h1{
    color: red;
    border: 2px dotted green;
    border-radius: 12px;
    height: 70px;
    text-align: center;
    background-color: yellow;
    padding: 10px;
    border: 12px;
    margin: 0px 1250px 0px 1250px;
} */
p{
    font-size: 16px;
}
h2{
    color: blue;
}
body{
    background-color: rgb(171, 240, 144);
    font-family: "Playwrite NO", cursive;
}
.highlight {
    color: darkblue;
    font-weight: bold;
    background-color: lightyellow;
    padding: 2px 5px;
}
